<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" ></meta>
<title>ログイン</title>
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap-glyphicons.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />
</head>
<body>
	<div class="container">
		<div class="content">
			<p th:if="${param.logout}" class="alert">ログアウトしました。</p>
			<p th:if="${param.error}" class="alert alert-danger">ユーザー名かパスワードに間違いがあります。もう一度入力してください。</p>
			<h2>Spring Boot Journal へ ログイン</h2>
			<form name="form" th:action="@{/login}" action="/login" method="post">
				<input type="text" name="username" value="" placeholder="ユーザー名" />
				<input type="password" name="password" placeholder="パスワード" /> <input
					type="submit" id="login" value="Login" class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>