<md-toolbar color="primary">
  <button type="button" md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>

  <span>MyCompany</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon></button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Setting </button>
  <button md-menu-item> Help </button>
</md-menu>


<md-sidenav-container>
  <md-sidenav  mode="over" #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <form class="example-form">
    <md-input-container class="example-full-width">
      <input [mdDatepicker]="picker" mdInput placeholder="予約日">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
    
    <md-input-container class="example-full-width">
      <input type="datetime-local" mdInput placeholder="予約日時" />
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="month" mdInput placeholder="予約月" />
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="week" mdInput placeholder="予約週">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="time" mdInput placeholder="予約時間" />
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="number" mdInput placeholder="予算金額" />
    </md-input-container>
    <md-input-container class="example-full-width" >
      <input type="text" mdInput placeholder="State"
              [mdAutocomplete]="auto" 
              [formControl]="stateCtrl"
              />
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let state of filteredStates | async" [value]="state">
          {{ state }}
        </md-option>
      </md-autocomplete>
    </md-input-container>
    
    <section class="example-full-width">
      <md-checkbox class="example-margin">チェック1</md-checkbox>
      <md-checkbox class="example-margin">チェック2</md-checkbox>
      <md-checkbox class="example-margin">チェック3</md-checkbox>
    </section>

    <section class="example-full-width">
      <label>ラジオボタンサンプル</label>
      <md-radio-group>
        <md-radio-button value="radio1">ラジオ1</md-radio-button>
        <md-radio-button value="radio2">ラジオ2</md-radio-button>
        <md-radio-button value="radio3">ラジオ3</md-radio-button>
      </md-radio-group>
    </section>

    <section class="example-full-width">
      <md-select placeholder="好きな食べ物" [(ngModel)]="selectedValue" name="food">
        <md-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </md-option>
      </md-select>
      <p>選択した値：　{{selectedValue}}</p>
    </section>

    <section class="example-full-width">
      <md-slider
        class="my-slider"
        step=5
        min=0
        max=100
        tick-interval=1
        thumb-label=true
        [(ngModel)]="sliderValue"
        name="slider"
        ></md-slider>
        <p>スライダーの値：　{{sliderValue}}</p>
    </section>

    <section class="example-full-width">
      <md-slide-toggle>XXを有効にする</md-slide-toggle>
    </section>


    <md-input-container class="example-full-width">
      <input type="password" mdInput placeholder="パスワード" />
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="tel" mdInput placeholder="電話番号" />
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="url" mdInput placeholder="お客様ホームページ" />
    </md-input-container>
    <md-input-container class="example-full-width">
      <input type="email" mdInput placeholder="メールアドレス" />
    </md-input-container>
  </form>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let state of filteredStates | async" [value]="state">
      {{ state }}
    </md-option>
  </md-autocomplete>

  
  <div class="my-content">
    <md-card class="example-card" *ngFor="let data of (myData ? myData.slice(0,3): []); let i = index">
      <img md-card-image src="{{ data.url }}">
      <md-card-header>
        <md-card-title>{{ data.title }}</md-card-title>
      </md-card-header>

      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

</md-sidenav-container>

